{% extends "base.html" %}

{% block title %}Articles{% endblock title %}

{% block content %}
    <div class="container">
        <h2>Логин</h2>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Имя:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button class="btn" type="submit">Войти</button>
        </form>
    </div>
{% endblock content %}