body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.card:hover {
    transform: translateY(-10px);
    transition: 0.3s;
}

.badge, .btn-primary-gradient {
    background: linear-gradient(90deg, rgba(94,28,68,1) 0%, rgba(200,104,114,1) 100%);
    border: none;
}

.btn-primary-gradient:hover {
    background: linear-gradient(90deg, rgba(200,104,114,1) 0%, rgba(94,28,68,1) 100%);
    transition: 0.3s;
}

.shadow-lg {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.article-image {
    height: 200px;
    object-fit: cover;
}

.dark-text {
    color:black;
}

.tag-container {
    margin-bottom: 0;
}

/* Применить стили к контейнеру кнопки */
.like-button {
    text-decoration: none; /* Убрать подчеркивание ссылки */
    background-color: #4CAF50; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 10px 15px; /* Отступы внутри кнопки */
    border-radius: 5px; /* Закругленные углы */
    display: inline-block; /* Размещать кнопку как блок, но оставаться в строке */
}

/* Стили для изображения внутри кнопки (если оно есть) */
.like-button img {
    width: 20px; /* Ширина изображения */
    height: 20px; /* Высота изображения */
    vertical-align: middle; /* Выравнивание изображения по вертикали */
    margin-right: 5px; /* Отступ между изображением и текстом */
}

/* Стили для счетчика "Нравится" */
.like-count {
    font-weight: bold; /* Жирный текст для счетчика */
    margin-left: 5px; /* Отступ слева от счетчика */
}

/* При наведении курсора на кнопку */
.like-button:hover {
    background-color: #45a049; /* Цвет фона при наведении */
}